VITE_IS_BASE_URL=
VITE_GATEWAY_BASE_URL=
VITE_CATALOG_GATEWAY_BASE_URL=
# Example: https://13.61.228.129:8244/sellora-inventory/1.0.0
VITE_INVENTORY_GATEWAY_BASE_URL=
VITE_OIDC_CLIENT_ID=
VITE_APP_ORIGIN=
